@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Slab:wght@200&display=swap');

body {

}

.navBar {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
}

.navTitles {
  margin: 0px;
  margin-top: 40px;
  color: black;
  text-decoration: none;
}
#line {
  text-align: center;
}

.levelOne {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 200px;
}

.levelTwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 200px;
}

.gridOne {
  padding: 10px;
}

.gridTwo {
  padding: 10px;
}

.artTitle {
  background-color: yellow;
  width: 200px;
  height: 200px;
}

.gallery-form {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  text-align: center;
}

.formStyling {
  display: block;
}

.inputStyling {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  width: 400px;
  height: 30px;
  margin: 2px;
  border: none;
  color: black;
}

/* .onClickInputStyling {
  font-family: 'Josefin Slab', serif;
  width: 400px;
  height: 30px;
  margin: 2px;
  background-color: aquamarine;
} */

.buttonStyling {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  border: none;
  padding: 10px;
  background-color: aquamarine;
  /* font-family: 'Abril Fatface', cursive; */
}