@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');

body {
 
}

.navBar {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
}

.navTitles {
  margin: 0px;
  margin-top: 40px;
}
#line {
  text-align: center;
}

.gameTiles {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  transition: 0.75s;
  opacity: 1;
}