@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Josefin+Slab:wght@200&display=swap');

body {

}

.navBar {
  display: flex;
  justify-content: space-evenly;
  font-family: 'Josefin Slab', serif;
  font-size: 40px;
}

.navTitles {
  margin: 0px;
  margin-top: 40px;
  color: black;
  text-decoration: none;
}
#line {
  text-align: center;
}

.levelOne {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  margin-left: 100px;
  /* width: 200px; */
  justify-content: end;
}

.levelTwo {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 200px;
}

.gridOne {
  padding: 5px;
}

.gridTwo {
  padding: 10px;
}

.artTitle {
  background-color: yellow;
  width: 200px;
  height: 200px;
}

.gameTiles {
  display: inline;
  background-repeat: no-repeat;
  background-position: center 90%;
  float: left;
  margin: 2%;
  padding: 1%;
  transition: 0.75s;
  opacity: 1;
  justify-content: center;
}


.gameTiles .art-card {
  transform: rotateY(90deg);
  position: absolute;
}

.flipped .art-card {
  transform: rotateY(0deg)
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap:20px;
  justify-content: space-around;

}
.gallery-form {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  text-align: center;
}

.formStyling {
  display: block;
}

.inputStyling {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  width: 400px;
  height: 30px;
  margin: 2px;
  border: none;
  color: black;
}

/* .onClickInputStyling {
  font-family: 'Josefin Slab', serif;
  width: 400px;
  height: 30px;
  margin: 2px;
  background-color: aquamarine;
} */

.buttonStyling {
  font-family: 'Josefin Slab', serif;
  font-size: 20px;
  border: none;
  padding: 10px;
  background-color: aquamarine;
  /* font-family: 'Abril Fatface', cursive; */
}

.galleryTiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  width: 200px;
  margin: 10px;
}

.blank-card {
  float: left;
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
  background-color: rgb(13, 59, 88);
  /* border: 1px solid grey; */
}

